[Unit]
Description=Litter Robot Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/litter-robot/
ExecStart=/root/.pyenv/versions/3.11.4/bin/python -u /opt/litter-robot/litter-robot.py
Restart=on-failure
RestartSec=10
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
